.footer-container {
    color: var(--text-color-2);
    background-color: var(--primary-color);
    padding: 20px;
}

.footer-icons {
    display: flex;
    justify-content: center;
}

.footer-icon {
    color: var(--text-color-2);
    font-size: 30px;
    margin: 10px;
}

.footer-text {
    font-weight: 300;
    text-align: center;
    padding: 10px;
}