.settings-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.settings-icon {
  font-size: 28px;
  color: white;
}

.avatar-gallery {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.avatar-gallery li {
  grid-column: span 6;
  margin: auto;
}

.avatar-btn {
  background: none;
  border: none;
  padding: 20px;
  cursor: pointer;
  line-height: 0;
}

.avatar-btn img {
  width: 100px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.avatar-btn:hover img {
  transform: scale(1.05);
}

.avatar-btn.active img {
  outline: 7px solid hotpink;
  border-radius: 50%;
  transform: scale(1.05);
}