.settings-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.settings-icon {
  font-size: 30px;
  color: var(--text-color-2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.settings-icon:hover {
  transform: scale(1.1);
}

.heading {
  margin-bottom: 30px;
}