.hero-container {
  /* background-color: var(--bg-color); */
  display: flex;
  align-items: flex-start;
  max-width: 500px;
}

.big-avatar {
  margin: 20px 10px 0 20px;
  width: 150px;
  object-fit: contain;
}

.welcome-bubble {
  padding: 1rem;
  margin: 20px 20px 20px 10px;
  background-color: var(--secondary-color);
  border-radius: 0 20px 20px 20px;
}

.welcome-text {
  font-weight: 300;
  font-size: 20px;
}

/* For small mobile phones */
@media (max-width: 410px) {
  .welcome-text {
    font-weight: 300;
    font-size: 17px;
  }
}

/* For desktop*/
@media (min-width: 1024px) {
  .big-avatar {
    margin: 30px 10px 0 30px;
    width: 230px;
    object-fit: contain;
  }

  .welcome-bubble {
    margin: 30px 15px 30px 10px;
  }
}