.hero-container {
    display: flex;
    justify-content: center;
}

.big-avatar {
    width: 150px;
}

.welcome-bubble {
    max-width: 28%;
    padding: 1rem;
    margin: 20px;
    background-color: lightpink;
    border-radius: 0 20px 20px 20px;
}